.class-input{
    position: absolute;
    background: #707283;
    width: 400px;
    height: 100px;
}
#idinput{

    width: 396px;
    height: 40px;
    text-align: center;
}
.class-buttom{
    position: absolute;
    top: 60px;
    left: 40px;
}
.class-display{
    position: absolute;
    background: #3CC194;
    width: 400px;
    height: 200px;
    top: 100px;
}
.class-inverted{
    position: absolute;
    background: #FE9004;
    width: 400px;
    height: 200px;
    top: 300px;
}